@use "@styles/includes/mixins.scss" as *;
@use "@styles/settings.scss" as *;

.files {
	flex-basis: toRem(598);
	padding: toRem(30);
	border-radius: toRem(8);
	background-color: #fdfbff;
	border: toRem(1) solid $accentColor;
	display: flex;
	flex-direction: column;
	min-width: 0;
}
.files-title {
	margin-bottom: toRem(26);
}
.files-items {
	flex-grow: 1;
	margin-bottom: toRem(15);
	max-height: 280px;
	overflow-y: auto;
	scrollbar-width: thin;
	padding-right: toRem(10);
}

.files-add {
	align-self: flex-start;
	min-width: toRem(168);
}

.files-input {
	display: none;
}
