@use "@styles/includes/mixins.scss" as *;
@use "@styles/settings.scss" as *;

.project {
	padding-block: toRem(80);
}
.project-container {
}
.project-content {
	border-radius: toRem(8);
	background-color: #fff;
	box-shadow: 0 toRem(30) toRem(60) 0 rgba(32, 56, 85, 0.15);
	padding: toRem(30);
	&:not(:last-child) {
		margin-bottom: toRem(50);
	}
}
.project-top {
	border-radius: toRem(8);
	background-color: #fdfbff;
	border: toRem(1) solid $accentColor;
	padding: toRem(30);
	margin-bottom: toRem(30);
}
.project-name {
	margin-bottom: toRem(4);
}
.project-date {
	font-style: italic;
	font-size: toRem(15);
	line-height: 1.2;
	letter-spacing: 0.02rem;
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
}
.project-text {
	&:not(:last-child) {
		margin-bottom: toRem(14);
	}
}

.project-info {
	display: flex;
	gap: toRem(30);
}

.project-lists {
	display: flex;
	column-gap: toRem(30);
}
.project-list {
	padding: toRem(30);
	border-radius: toRem(8);
	background-color: #fdfbff;
	border: toRem(1) solid $accentColor;
	flex: 1 1 toRem(20);
}
.project-label {
	margin-bottom: toRem(30);
}
