@use "@styles/includes/mixins.scss" as *;
@use "@styles/settings.scss" as *;

.title {
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01rem;
	color: #121212;
	&-purple {
		color: $accentColor;
	}
}
.title-big {
	@include adaptiveValue("font-size", 40, 25, 0, $containerPadding, 570);
}

//========================================================================================================================================================

.error {
	// Универсальный стиль ошибок под стилистику сайта
	display: block;
	margin-top: toRem(10);
	line-height: 1.3;
	letter-spacing: 0.02rem;
	font-weight: 500;
	color: #e74c3c; // базовый красный оттенок для ошибок
}
