@use "@styles/includes/mixins.scss" as *;

.popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0000004c;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	min-height: 100%;
	padding-block: calc(var(--header-height) + toRem(50)) toRem(30);
	transition:
		opacity 0.3s,
		visibility 0.3s;
	&--open {
		opacity: 1;
		visibility: visible;
	}
}
.popup-container {
	display: flex;
	justify-content: center;
}
.popup-body {
	flex-basis: toRem(650);
}
