@use "@styles/includes/mixins.scss" as *;
@use "@styles/settings.scss" as *;

@forward "select";
@forward "input";
@forward "button";

.form {
}
.form-line {
	&:not(:last-child) {
		margin-bottom: toRem(20);
	}
}
.form-label {
	font-weight: 400;
	font-size: toRem(19);
	line-height: 1.2;
	letter-spacing: 0.02rem;
	color: #535353;
	margin-bottom: toRem(16);
	cursor: pointer;
	&.--small {
		font-size: toRem(17);
		color: #616975;
		margin-bottom: toRem(10);
	}
	&:has(+ .input[data-required]) {
		column-gap: toRem(5);
		&::after {
			content: "*";
			color: #f48989;
			margin-left: 4px;
		}
	}
}
.form-bottom {
	margin-top: toRem(7);
	display: flex;
	justify-content: flex-end;
	column-gap: toRem(15);
	.error {
		margin-top: 0;
		font-size: toRem(16);
	}
	&:has(.error) {
		justify-content: space-between;
	}
}
.form-password {
	position: relative;
	input {
		padding-inline-end: toRem(52);
	}
}
.form-show-pass {
	position: absolute;
	width: toRem(36);
	aspect-ratio: 1;
	top: 50%;
	right: toRem(16);
	transform: translate(0, -50%);
	transition: transform 0.3s;
	will-change: transform;
	@media (any-hover: hover) {
		&:hover {
			transform: translate(0, -50%) scale(1.05);
		}
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity 0.3s;
		&:last-child {
			opacity: 0;
		}
	}
	&.--show {
		img {
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
}
.form-input {
}
.form-select {
}
.form-button {
	width: 100%;
	min-width: toRem(275);
	&--center {
		width: auto;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
.form-symbols {
	text-align: right;
	font-weight: 300;
	font-size: toRem(13);
	color: #9ca6b5;
}
